<h1 id="titulof">Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <h3>My account </h3>
  <div class="input-group">
    <label for="name">Nombre</label>
    <br>
    <input type="text" required name="name" id="name"  [(ngModel)]="register.name">
   <!--  <p>Mensajes de error</p> -->
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <br>
    <input type="email" required name="email"  id="email"  [(ngModel)]="register.email">
    <!-- <p>Mensajes de error</p> -->
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <br>
    <input type="password" required name="password"  id="password"  [(ngModel)]="register.password">
    <!-- <p>Mensajes de error</p> -->
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
  <!-- <button type="button">accion</button> -->
</form>
<hr>

<h1>NgClass y NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]="{
    'valid':nameInput4.valid,
    'invalid':nameInput4.invalid
  }"
>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background-color':box.background,
    'display':'block'
    }"></div>
  </div>
</div>

<hr>

<h1>Class & style</h1><!--CLASS AND STYLE-->
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido</p>
<label for="">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<!-- en la linea de abajo si se cumple la condicion le agregar italic y si no normal -->
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" >
  </div>
</div>
<hr>

<h1>ngSwitch</h1><!-- USO DE NGSWITCH-->
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Nicolas'">
    La persona es Nicolas
  </p>
  <p *ngSwitchCase="'Julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'Camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<!-- <p *ngIf="person.name==='Nicolas'">
  La persona es Nicolas
</p>
<p *ngIf="person.name==='Julian'">
  La persona es Julian
</p>
<p *ngIf="person.name==='Camilo'">
  La persona es Camilo
</p> -->

<hr>

<h1>*ngFor Objs</h1><!-- USO DE *NGFOR PARA ARRAYS-->
<div class="product--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>



<h1>*ngFor</h1><!-- USO DE *NGFOR -->
<input type="text" required [(ngModel)]="newName" >
<button (click)="addName()">Add name</button><!-- agregamos un nuevo elemento al arreglo con la funcion addname() -->
<ul>
  <li *ngIf="names.length===0">No hay nombres</li>
  <li *ngFor="let name of names; index as i"><!-- bucle for y recorrido de string -->
    {{i}} {{name}}
    <button (click)="deleteName(i)"></button>
  </li>

</ul>


<h1>*ngIf</h1><!-- USO DE *NGIF -->
<input type="text" required [(ngModel)]="person.name" >
<p *ngIf="person.name==='Jose'">soy Jose</p><!-- Sentencias condicionales con *ngIf -->
<p *ngIf="person.name==='Nicolas' && person.age===18; else elseBlock">soy Nicolas</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>

<h1>ngModel</h1><!-- DATA BINDING CON NGMODEL -->
<p>Nombre {{person.name}}</p>
<input type="text" required  #nameInput="ngModel"  [(ngModel)]="person.name" > <!-- con esto nos ahorramos el evento para hacer la modificasion, y automaticamente el ngmodel esta yendo hasta el value de la propiedad actualizando el valor  -->
<p>Valid:{{nameInput.valid}}</p><!-- Validaciones con angular forms -->
<p>Age{{person.age}}</p>
<input type="number" max="18" min="10" required  #ageInput="ngModel"  [(ngModel)]="person.age" >
<p>Valid:{{ageInput.valid}}</p>
<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button><!-- Además del evento clic, seguramente el más utilizado, hay otros eventos como el change para detectar cambios en un campo de formulario -->
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">age++</button>
<div class="box" (scroll)="onScroll($event)"> <!-- scroll para detectar el desplazamiento horizontal/vertical del usuario en el navegador -->
  <p>Si piensas que el dinero resolvera tus problemas tendras problemas en el futuro, la inteligencia resuelve los problemas y genera dinero, el dinero sin inteligencia se pierde rapidamente. Conclusion que tenemos que priorizar el desarrollo de nuestra inteligencia sobre el dinero</p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"><!--onKeyUp o onKeyDown para detectar cuando el usuario aprieta o deja de apretar un botón de su teclado.-->
<hr>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"> </progress>
<img width="100" [src]="person.avatar" >
<hr>

<h2>{{'hola mundo'.repeat(5)}}</h2>
<p>3+3={{3+3}}</p>
<h3>Hola soy {{name}} y tengo {{age}}</h3>
<img width="200" src={{img}} alt="imagen">


private PokemonService PokemonService= new PokemonService